{% extends 'base.html.twig' %}

{% block title %}Quai Antique
{% endblock %}

{% block body %}
	<style>
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
		.flexx {
			display: flex;
			justify-content: center;
		}
		.btn_main {
			background: hsl(35, 57%, 36%, 0.5);
			border: 2px solid #392C1E;
			box-shadow: 0 1px 4px #392c1e;
			border-radius: 25px;
		}
		.btn_main a {
			text-decoration: none;
			color: black;
			padding: 0 5px;
		}
		.btn_main:hover {
			box-shadow: 0 0 4px #b6ac97;
		}
		.btn_main a:hover {
			color: #392c1e;
		}
		.btn_main:active {
			box-shadow: inset 0 0 2px 1px #392c1e;
		}
		.galerieContainer {
			margin: 0;
			padding: 20px 10px;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
		}
	</style>


	<div
		class="galerieContainer">
		{# Il est recommandé d'utilisez que des paysages
								<div {{ react_component('Card', { 'photo': photo } ) }}></div>
								<div {{ react_component('Card', { 'photo': photo } ) }}></div> #}
		<div {{ react_component('Galerie', { 'photo': photop } ) }}></div>
		<div {{ react_component('Galerie', { 'photo': photop } ) }}></div>
		<div {{ react_component('Galerie', { 'photo': photop } ) }}></div>
		<div {{ react_component('Galerie', { 'photo': photop } ) }}></div>
	</div>
	<div class="flexx">
		<button class="btn_main">
			<a href="{{ path('app_reservation_page') }}">Reserver une Table !
			</a>
		</button>
	</div>
{% endblock %}
{% use "nav.html.twig" %}
{% use "footer.html.twig"%}
