{% extends 'base.html.twig' %}

{% block title %}Connection !
{% endblock %}

{% block body %}
<style>
	body{
		min-height:100vh;
		display:flex;
		flex-direction:column;
		text-align:center;
	}
		form{
			text-align:center;
			margin: 30px auto auto auto;
		}
		form a {
			display:block;
		}
	.btn_main {
			background: hsl(35, 57%, 36%, 0.5);
			border: 2px solid #392C1E;
			box-shadow: 0 1px 4px #392c1e;
			border-radius: 25px;
			margin-top: 10px;
		}
		.btn_main a {
			text-decoration: none;
			color: black;
			padding: 0 5px;
		}
		.btn_main:hover {
			box-shadow: 0 0 4px #b6ac97;
		}
		.btn_main a:hover {
			color: #392c1e;
		}
		.btn_main:active {
			box-shadow: inset 0 0 2px 1px #392c1e;
		}
	</style>
	<h1>Reinitialisation du mot de passe </h1>
	<form method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				Vous êtes connecter
				{{ app.user.userIdentifier }},
				<a href="{{ path('app_logout') }}">Logout</a>
			</div>
		{% endif %}

		{{form_start(requestPassForm)}}
      {{form_row(requestPassForm.email)}}
		  <button class="btn_main" type="submit">
				Envoyer
		  </button>
    {{form_end(requestPassForm)}}
	
{% endblock %}
{% use "nav.html.twig" %}
{% use "footer.html.twig"%}
