{% extends 'base.html.twig' %}

{% block title %}Pannel d'administration
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		.example-wrapper p {
			align-self: start;
			margin-left: 10px;

		}
		.example-wrapper span {
			align-self: end;
			margin-right: 10px;
			margin-top: 20px;
		}

		table {
			text-align: center;

		}
		tr:nth-child(2n) {
			background: white
		}
		tr:nth-child(2n + 1) {
			background: #B6AC97
		}
		th {
			background: #B6AC97
		}
		button {
			cursor: pointer;
			background: inherit;
			border: none;
		}
		td,
		th {
			max-width: 20vw;
			overflow-x: auto;

		}
		.emailTab {
			max-width: 70vw;
		}
		table,
		th,
		td {
			border: 1px solid black;
			border-collapse: collapse;
			padding: 5px;
		}
		.btn_main {
			background: hsl(35, 57%, 36%, 0.5);
			border: 2px solid #392C1E;
			box-shadow: 0 1px 4px #392c1e;
			border-radius: 5px;
		}
		.btn_main:hover {
			box-shadow: 0 0 4px #b6ac97;
			color: #392c1e;
		}
		.btn_main:active {
			box-shadow: inset 0 0 2px 1px #392c1e;
		}
		.buttonstab {
			margin: 10px;
		}
		.accepOverflow{
			overflow:visible;
		}
		@media only screen and (max-width: 800px) {	
		table, thead, tbody, th, td, tr{ 
			display: block
		}
		thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		.overflowx{
			width:90vw;
		}
		td { 
			position: relative;
			padding-left: 50%; 
			white-space: normal;
			text-align: center;
			max-width:inherit;
		}
		table{
			width:100%
		}
		td:before { 
			position: absolute;
			top: 6px;
			left: 6px;
			width: 45%; 
			padding-right: 10px; 
			font-weight: bold;
			white-space: nowrap;
			text-align:center;
			content: attr(data-title)
				
		}
		#actif{
			width:85vw;
		}
		#actif input{
			width:50%;
		}
	}
	</style>

	<div class="example-wrapper">
		<p>Bienvenue sur votre gestionnaire de compte administrateur</p>
		<a href= "{{ path('app_structure')}}">Structure </a>
		<h1>
			Les reservation
		</h1>
		<table class="Resas">
		<thead>
				<tr>
					<th>Date</th>
					<th>Heure</th>
					<th>Nom de reservation</th>
					<th>Email</th>
					<th>Numero</th>
					<th>Couvert</th>
					<th>Allergènes</th>
					<th>Commentaires</th>
					<th>Annuler</th>
				</tr>
			</thead>
			{% for resa in reservations %}
			<tr>
				<td data-title="Date">{{ resa.afficheDate() }}</td>
				<td data-title="Heure">{{ resa.afficheHeure() }}</td>
				<td data-title="Nom">{{ resa.getNomReservation() }}</td>
				<td data-title="Email">{{ resa.getEmail() }}</td>
				<td data-title="Numero">{{ resa.getNumeroReservation() }}</td>
				<td data-title="Couvert">{{ resa.getCouvert()}}</td>
				<td data-title="Allergene">{{resa.getAllergene()}}</td>
				<td data-title="Commentaire">{{resa.getCommentaire()}}</td>
				<td data-title="Action" class="accepOverflow">
					<div {{ react_component('RemoveReservation', { 'id' : resa.getUuid()}) }} </div>
				</td>
			</tr>
			{% endfor %}
		</table>
		<h1>
			Les menus
		</h1>
		<table class="MenuTab">
			<thead>
				<tr>
					<th>Ordre</th>
					<th>Nom</th>
					<th>
						Description
					</th>
					<th>
						Prix</th>
					<th colspan='2'>Actions</th>
				</tr>
			</thead>
			{% for menu in menus %}
			<tr>
				<td data-title="Ordre">{{menu.getOrdre() }}</td>
				<td data-title="Nom">{{menu.getNom() }}</td>
				<td data-title="Description">
					{{menu.getDescription()}}
				</td>
				<td data-title="Prix">{{menu.affichePrix()}}</td>
				<td data-title="Action" class="accepOverflow">
					<div {{ react_component('ModifyMenu', { 'id' : menu.getId(), 'ordre': menu.getOrdre(), 'nom': menu.getNom(),'prix': menu.getPrix(),'description':menu.getDescription() } ) }}></div>
				</td>
				<td data-title="Action" class="accepOverflow">
					<div {{ react_component('RemoveMenu', { 'id' : menu.getId()}) }} </div>
				</td>
			</tr>
			{% endfor %}
		</table>
		<div class="buttonstab">
			<div {{ react_component('AddMenu' ) }}></div>
			</div>
		<h1>Les cartes
		</h1>
		<table class="carteTab">
			<thead>
				<tr>
					<th>Ordre</th>
					<th>Nom</th>
					<th colspan='2'>Action</th>
				</tr>
			</thead>
			{% for carte in cartes %}
			<tr>
				<td data-title="Ordre">{{carte.getOrdre()}} </td>
				<td data-title="Nom">{{carte.getNom()}} </td>
				<td data-title="Action" class="accepOverflow">
					<div {{ react_component('ModifyCarte', { 'id' : carte.getId(), 'ordre': carte.getOrdre(), 'nom': carte.getNom() } ) }}></div>
				</td>
				<td data-title="Action" class="accepOverflow">
					<div {{ react_component('RemoveCarte', { 'id' : carte.getId()}) }} </div>
				</td>
			</tr>
			{% endfor %}
		</table>
		<div class="buttonstab">
			<div {{ react_component('AddCarte' ) }}></div>
		</div>
		<h1>
			Les sous-catégories
		</h1>
		<table class="sousCatTab">
			<thead>
				<tr>
					<th>Carte</th>
					<th>Ordre</th>
					<th>Nom</th>
					<th colspan='2'>Action</th>
				</tr>
			</thead>
			{% for sousCat in sousCats %}
				<tr>
				<td data-title="Carte">{{sousCat.getCarte().getNom()}}</td>
				<td data-title="Ordre">{{sousCat.getOrdre()}}</td>
				<td data-title="Nom">{{sousCat.getNom()}}</td>
				<td data-title="Action" class="accepOverflow">
					<div {{ react_component('ModifySousCat', { 'cartes' : cartesA ,'id' : sousCat.getId(), 'ordre': sousCat.getOrdre(), 'nom': sousCat.getNom(), 'nomCarte': sousCat.getCarte().getNom() } ) }}></div>
				</td>
				<td data-title="Action" class="accepOverflow">
					<div {{ react_component('RemoveSousCat', { 'id' : sousCat.getId()}) }} </div>
				</td>
			</tr>
			{% endfor %}
			
		</table>
		<div class="buttonstab">
			<div {{ react_component('AddSousCat', { 'cartes' : cartesA } ) }}></div>
		</div>
		<h1>
			La carte
		</h1>
		<table class="produitsTab">
			<thead>
				<tr>
					<th>Carte</th>
					<th>Sous-catégorie</th>
					<th>Ordre</th>
					<th>Nom</th>
					<th>Prix</th>
					<th colspan= '2'>Action</th>
				</tr>
			</thead>
			{% for produit in produits %}
			<tr>
				<td data-title="Carte">{{produit.getSousCategorie().getCarte().getNom()}}</td>
				<td data-title="Categorie">{{produit.getSousCategorie().getNom()}}</td>
				<td data-title="Ordre">{{produit.getOrdre()}}</td>
				<td data-title="Nom">{{produit.getNom()}}</td>
				<td data-title="Prix">{{produit.affichePrix()}}</td>
				<td data-title="Action" class="accepOverflow">
					<div {{ react_component('ModifyProduit', { 'categories' : sousCatsA  , 'parents' : parents, 'id':produit.getId(),'ordre':produit.getOrdre(),'nom':produit.getNom(),'prix':produit.getPrix(),'nomSousCat':produit.getSousCategorie().getNom()} ) }}></div>
				</td>
				<td data-title="Action" class="accepOverflow">
					<div {{ react_component('RemoveProduit', { 'id' : produit.getId()}) }} </div>
				</td>
			</tr>
			{% endfor %}
			
		</table>
		<div class="buttonstab">
			<div {{ react_component('AddProduit', { 'categories' : sousCatsA  , 'parents' : parents} ) }}></div>
		</div>


	</div>


</div>{% endblock %}{% use "nav.html.twig" %}{% use "footer.html.twig"%}
