{% extends 'base.html.twig' %}

{% block title %}Pannel d'administration
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		.example-wrapper p {
			align-self: start;
			margin-left: 10px;

		}
		.example-wrapper span {
			align-self: end;
			margin-right: 10px;
			margin-top: 20px;
		}

		table {
			text-align: center;

		}
		tr:nth-child(2n) {
			background: white
		}
		tr:nth-child(2n + 1) {
			background: #B6AC97
		}
		th {
			background: #B6AC97
		}
		button {
			cursor: pointer;
			background: inherit;
			border: none;
		}
		td,
		th {
			max-width: 20vw;
			overflow-x: auto;

		}
		.emailTab {
			max-width: 70vw;
		}
		table,
		th,
		td {
			border: 1px solid black;
			border-collapse: collapse;
			padding: 5px;
		}
		.btn_main {
			background: hsl(35, 57%, 36%, 0.5);
			border: 2px solid #392C1E;
			box-shadow: 0 1px 4px #392c1e;
			border-radius: 5px;
		}
		.btn_main:hover {
			box-shadow: 0 0 4px #b6ac97;
			color: #392c1e;
		}
		.btn_main:active {
			box-shadow: inset 0 0 2px 1px #392c1e;
		}
		.buttonstab {
			margin: 10px;
		}
		.accepOverflow{
			overflow:visible;
		}
	</style>

	<div class="example-wrapper">
		<p>Bienvenue sur votre gestionnaire de compte administrateur</p>
		<h1>
			Info Restaurant
		</h1>
		<table>
			<tr>
				<th>Jour</th>
				<th>Ouvert/Fermé</th>
				<th>debut déjeuner</th>
				<th>fin déjeuner</th>
				<th>debut diner</th>
				<th>fin déjeuner</th>
				<th colspan='2'>Action</th>
			</tr>
			{% for name,jour in semaine %}
			<tr>
				<td>{{name}}</td>
				{% if jour['open'] == true  %}
					<td>Ouvert</td>
					{% if jour['open_midi'] != null %}
								<td>{{jour['open_midi']|date('H:i')}}</td>
								<td>{{jour['close_midi']|date('H:i')}}</td>
					{% else %}
						<td></td>
						<td></td>
					{% endif %}
					{% if jour['open_soir'] != null %}
								<td>{{jour['open_soir']|date('H:i')}}</td>
								<td>{{jour['close_soir']|date('H:i')}}</td>
					{% else %}
						<td></td>
						<td></td>
					{% endif %}
				{% else %}
					<td>Fermé</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				{% endif %}
					<td class="accepOverflow">
					<div {{ react_component('ModifyHoraire', { 'id' : jour['id'], 'jour': name, 'isOpen': jour['open'] } ) }}></div>
				</td>
				<td class="accepOverflow">
					<div {{ react_component('RemoveHoraire', { 'id' : jour['id']}) }} </div>
				</td>
			</tr>
			{% endfor %}
		</table>
		<div class="buttonstab">
			<div {{ react_component('AddHoraire' ) }}></div>
		</div>
		<h1>
			Les reservation
		</h1>
		<table class="Resas">
			<tr>
				<th>Date</th>
				<th>Heure</th>
				<th>Nom de reservation</th>
				<th>Email</th>
				<th>Numero</th>
				<th>Couvert</th>
				<th>Allergènes</th>
				<th>Commentaires</th>
			</tr>
			{% for resa in reservations %}
			<tr>
				<td>{{ resa.afficheDate() }}</td>
				<td>{{ resa.afficheHeure() }}</td>
				<td>{{ resa.getNomReservation() }}</td>
				<td>{{ resa.getEmail() }}</td>
				<td>{{ resa.getNumeroReservation() }}</td>
				<td>{{ resa.getCouvert()}}</td>
				<td>{{resa.getAllergene()}}</td>
				<td>{{resa.getCommentaire()}}</td>
			</tr>
			{% endfor %}
		</table>
		<h1>
			Les menus
		</h1>
		<table class="MenuTab">
			<tr>
				<th>Ordre</th>
				<th>Nom</th>
				<th>
					Description
				</th>
				<th>
					Prix</th>
				<th colspan='2'>Actions</th>
			</tr>
			{% for menu in menus %}
			<tr>
				<td>{{menu.getOrdre() }}</td>
				<td>{{menu.getNom() }}</td>
				<td>
					{{menu.getDescription()}}
				</td>
				<td>{{menu.affichePrix()}}</td>
				<td class="accepOverflow">
					<div {{ react_component('ModifyMenu', { 'id' : menu.getId(), 'ordre': menu.getOrdre(), 'nom': menu.getNom(),'prix': menu.getPrix(),'description':menu.getDescription() } ) }}></div>
				</td>
				<td class="accepOverflow">
					<div {{ react_component('RemoveMenu', { 'id' : menu.getId()}) }} </div>
				</td>
			</tr>
			{% endfor %}
		</table>
		<div class="buttonstab">
			<div {{ react_component('AddMenu' ) }}></div>
			</div>
		<h1>Les cartes
		</h1>
		<table class="carteTab">
			<tr>
				<th>Ordre</th>
				<th>Nom</th>
				<th colspan='2'>Action</th>
			</tr>
			{% for carte in cartes %}
			<tr>
				<td>{{carte.getOrdre()}} </td>
				<td>{{carte.getNom()}} </td>
				<td class="accepOverflow">
					<div {{ react_component('ModifyCarte', { 'id' : carte.getId(), 'ordre': carte.getOrdre(), 'nom': carte.getNom() } ) }}></div>
				</td>
				<td class="accepOverflow">
					<div {{ react_component('RemoveCarte', { 'id' : carte.getId()}) }} </div>
				</td>
			</tr>
			{% endfor %}
		</table>
		<div class="buttonstab">
			<div {{ react_component('AddCarte' ) }}></div>
		</div>
		<h1>
			Les sous-catégories
		</h1>
		<table class="sousCatTab">
			<tr>
				<th>Carte</th>
				<th>Ordre</th>
				<th>Nom</th>
				<th colspan='2'>Action</th>
			</tr>
			{% for sousCat in sousCats %}
				<tr>
				<td>{{sousCat.getCarte().getNom()}}</td>
				<td>{{sousCat.getOrdre()}}</td>
				<td>{{sousCat.getNom()}}</td>
				<td class="accepOverflow">
					<div {{ react_component('ModifySousCat', { 'cartes' : cartesA ,'id' : sousCat.getId(), 'ordre': sousCat.getOrdre(), 'nom': sousCat.getNom(), 'nomCarte': sousCat.getCarte().getNom() } ) }}></div>
				</td>
				<td class="accepOverflow">
					<div {{ react_component('RemoveSousCat', { 'id' : sousCat.getId()}) }} </div>
				</td>
			</tr>
			{% endfor %}
			
		</table>
		<div class="buttonstab">
			<div {{ react_component('AddSousCat', { 'cartes' : cartesA } ) }}></div>
		</div>
		<h1>
			La carte
		</h1>
		<table class="produitsTab">
			<tr>
				<th>Carte</th>
				<th>Sous-catégorie</th>
				<th>Ordre</th>
				<th>Nom</th>
				<th>Prix</th>
				<th colspan= '2'>Action</th>
			</tr>
			{% for produit in produits %}
			<tr>
				<td>{{produit.getSousCategorie().getCarte().getNom()}}</td>
				<td>{{produit.getSousCategorie().getNom()}}</td>
				<td>{{produit.getOrdre()}}</td>
				<td>{{produit.getNom()}}</td>
				<td>{{produit.affichePrix()}}</td>
				<td class="accepOverflow">
					<div {{ react_component('ModifyProduit', { 'categories' : sousCatsA  , 'parents' : parents, 'id':produit.getId(),'ordre':produit.getOrdre(),'nom':produit.getNom(),'prix':produit.getPrix(),'nomSousCat':produit.getSousCategorie().getNom()} ) }}></div>
				</td>
				<td class="accepOverflow">
					<div {{ react_component('RemoveProduit', { 'id' : produit.getId()}) }} </div>
				</td>
			</tr>
			{% endfor %}
			
		</table>
		<div class="buttonstab">
			<div {{ react_component('AddProduit', { 'categories' : sousCatsA  , 'parents' : parents} ) }}></div>
		</div>


	</div>


</div>{% endblock %}{% use "nav.html.twig" %}{% use "footer.html.twig"%}
