{% extends 'base.html.twig' %}

{% block title %}Pannel d'administration
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-bottom:auto;
		}
		.petiteInfo {
			align-self: start;
			margin-left: 10px;

		}
		.example-wrapper span {
			align-self: end;
			margin-right: 10px;
			margin-top: 20px;
		}

		table {
			text-align: center;
			position:relative;

		}

		thead tr {
			background: #B6AC97
		}
		tbody tr:nth-child(2n + 1) {
			background: white
		}
		tbody tr:nth-child(2n) {
			background: #B6AC97
		}
		th {
			background: #B6AC97
		}
		button {
			cursor: pointer;
			background: inherit;
			border: none;
		}
		td,
		th {
			max-width: 20vw;
			overflow-x: auto;

		}
		.emailTab {
			max-width: 70vw;
		}
		table,
		th,
		td {
			border: 1px solid #392B1E;
			border-collapse: collapse;
			padding: 5px;
		}
		.btn_main {
			background: hsl(35, 57%, 36%, 0.5);
			border: 2px solid #392C1E;
			box-shadow: 0 1px 4px #392c1e;
			border-radius: 5px;
		}
		.btn_main:hover {
			box-shadow: 0 0 4px #b6ac97;
			color: #392c1e;
		}
		.btn_main:active {
			box-shadow: inset 0 0 2px 1px #392c1e;
		}
		.buttonstab {
			margin: 10px;
		}
		.buttonstab a, td a{
			text-decoration:none;
			color:black;
		}
		.accepOverflow {
			overflow: visible;
		}
		
		@media only screen and (max-width: 800px) {	
		table, thead, tbody, th, td, tr{ 
			display: block
		}
		thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		.overflowx{
			width:90vw;
		}
		td { 
			position: relative;
			padding-left: 50%; 
			white-space: normal;
			text-align: center;
			max-width:inherit;
		}
		table{
			width:100%
		}
		td:before { 
			position: absolute;
			top: 6px;
			left: 6px;
			width: 45%; 
			padding-right: 10px; 
			font-weight: bold;
			white-space: nowrap;
			text-align:center;
			content: attr(data-title)
				
		}
		#actif{
			width:85vw;
		}
		#actif input{
			width:50%;
		}
	}
	</style>
	<div class="example-wrapper">
		<div class='petiteInfo'>
			<p>Bienvenue sur votre gestionnaire de structure administrateur</p>
			<a href="{{ path('app_admin_page')}}">Pannel d'administrateur
			</a>
		</div>  
		<h1>Structure du site</h1>
		<h2>
			Info Restaurant
		</h2>
		<div class="overflowx">
		<table>
			<thead>
				<tr>
					<th>Jour</th>
					<th>Ouvert / Fermé</th>
					<th>debut déjeuner</th>
					<th>fin déjeuner</th>
					<th>debut diner</th>
					<th>fin déjeuner</th>
					<th colspan='2'>Action</th>
				</tr>
			</thead>
			<tbody>
				{% for name,jour in semaine %}
					<tr>
						<td data-title="Nom">{{name}}</td>
						{% if jour['open'] == true  %}
							<td data-title="Ouvert">Ouvert</td>
							{% if jour['open_midi'] != null %}
								<td data-title="Open_midi">{{jour['open_midi']|date('H:i')}}</td>
								<td data-title="Close_midi">{{jour['close_midi']|date('H:i')}}</td>
							{% else %}
								<td data-title="Open_midi">X</td>
								<td data-title="Close_midi">X</td>
							{% endif %}
							{% if jour['open_soir'] != null %}
								<td data-title="Open_soir">{{jour['open_soir']|date('H:i')}}</td>
								<td data-title="Close_soir">{{jour['close_soir']|date('H:i')}}</td>
							{% else %}
								<td data-title="Open_soir">X</td>
								<td data-title="Close_soir">X</td>
							{% endif %}
						{% else %}
							<td data-title="Ouvert">Fermé</td>
							<td data-title="Open_soir">X</td>
							<td data-title="Close_soir">X</td>
							<td data-title="Open_soir">X</td>
							<td data-title="Close_soir">X</td>
						{% endif %}
						<td data-title="Action" class="accepOverflow">
							<div {{ react_component('ModifyHoraire', { 'id' : jour['id'], 'jour': name, 'isOpen': jour['open'] } ) }}></div>
						</td>
						<td data-title="Action" class="accepOverflow">
							<div {{ react_component('RemoveHoraire', { 'id' : jour['id']} ) }}> </div>
            </td> 
          </tr> 
        {% endfor %} 
      </tbody> 
    </table> 
		</div>
    <h2> galerie </h2>
    <table> 
      <thead> 
        <tr> 
          <th>Titre </th>
							<th>Format</th>
							<th>Ordre</th>
							<th colspan='2'>Action</th>
						</tr>
					</td>
				</tr>
			</thead>
			<tbody>
				{% for image in galeries %}
					<tr>
						<td data-title="Titre">{{image.getTitre()}}</td>
						<td data-title="Format">{{image.getFormat()}}</td>
						<td data-title="Ordre">{{image.getOrdre()}}</td>
						<td data-title="Action" class="accepOverflow "><div {{ react_component('ModifyGalerie', { 'uuid' : image.getUuid(), 'ordre': image.getOrdre(), 'titre': image.getTitre(),'format': image.Format() } ) }}></div></td>
						<td data-title="Action">
							<a href="{{ path('app_galerie_remove',{ 'id': image.getUuid()})}}">supprimer</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="buttonstab">
			<a href="{{ path('app_galerie_new') }}">Ajouter une image
			</a>
		</div>
	</div>
{% endblock %}{% use "nav.html.twig" %}{% use "footer.html.twig"%}
