{% block footer %}


	<style>
		.footer {
			background: #B6AC97;
			display: flex;
			justify-content: space-around;
			margin-top: 10px;
		}

		.horaires {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		.horaires li {
			list-style: none;
			color: #906427;
		}
		.jour {
			display: flex;
			justify-content: space-between;
			width: 100%;
			margin: 2px 0;
		}
		.horaires span {
			color: #906427;
		}
		.horaires ul {
			margin: 0;
		}
		.horaires p {
			margin: 0;
		}
		.close {
			margin-right: 25px;
		}
		.headFooter hr {
			width: 40%;
			border: none;
			border-top: 2px solid #906427
		}
		.headFooter {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding-top: 15px;
			margin: 0;
		}
		.headFooter h4 {
			margin: 0;
		}
		.headFooter > span {
			margin: 0;
			color: #906427;
		}
		.liens li {
			list-style: none;
			padding: 10px;
		}
		.liens a {
			text-decoration: none;
			padding: 10px;
			color: black;
		}
		.liens ul {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 0;
		}
		.liens p {
			margin: 40px 0 10px;
			text-align: center;
			font-size: 1rem;
		}
	</style>

	<div class="footer">
		<div class="horaires">
			<div class="headFooter">
				<span>
					Nos
				</span>
				<h4>
					horaires d'ouverture
				</h4>
				<hr>
			</div>
			{% for name,jour in semaine %}
				<div class="jour">
					<p>{{name}}</p>
					{% if jour['open'] == true  %}
						<ul>
							{% if jour['open_midi'] != null %}
								<li>
									{{jour['open_midi']|date('H:i')}}
									-{{jour['close_midi']|date('H:i')}}
								</li>
							{% endif %}

							{% if jour['open_soir'] != null %}
								<li>
									{{jour['open_soir']|date('H:i')}}
									-{{jour['close_soir']|date('H:i')}}
								</li>
							{% endif %}
						</ul>
					{% else %}
						<span class="close">
							fermé
						</span>
					{% endif %}
				</div>
			{% endfor %}
		</div>


		<div class="liens">
			<div class="headFooter">
				<span>
					Nos
				</span>
				<h4>
					liens utiles
				</h4>
				<hr>
			</div>
			<ul>
				<li>
					<a href="{{ path('app_reservation_page') }}">Reserver
					</a>
				</li>
				<li>
					<a href="{{ path('app_cgu_page') }}">Condition général d'utilisation</a>
				</li>
				<li>A propos</li>
				<li>Contacté nous</li>
			</ul>
			<p>
				<strong>
					Copyright @Megios</strong>
			</p>
		</div>
	</div>
{% endblock %}
