{% block navBar %}
	<style>
		body {
			background-color: white;
			padding: 0;
			margin: 0;
		}
		.logo {
			display: flex;
			flex-direction: row;
			justify-content: center;
		}
		.logo h1 {
			padding: 22px;
			margin: 0;
		}
		.navMain {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			padding: 8px;
			margin: 0;
			background: #392c1e;
		}
		.navMain li {
			list-style: none;
			padding: 2px;
		}

		.navMain a {
			text-decoration: none;
			color: white;
		}
		.navMain a:hover {
			color: #906427;
		}
		.navMain .active {
			color: #b6ac97;
		}

		.navMain button {
			background: hsl(35, 57%, 36%, 0.5);
			border: 2px solid #392c1e;
			box-shadow: 0 0 4px #b6ac97;
			border-radius: 25px;
		}
		.navMain button:hover {
			box-shadow: 0 0 4px white;
		}
		.navMain button a:hover {
			color: white;
		}
		.navMain button:active {
			box-shadow: inset 0 0 3px 2px #b6ac97;
		}
	</style>
	<div class="logo">
		<h1>Quai Antique</h1>
	</div>
	<ul class="navMain">
		<a href="{{ path('app_home_page') }}" {% if app.request.attributes.get('_route') == "app_home_page" %} class="active" {% endif %}>
			<Li>Accueil</Li>
		</a>
		<a href="{{ path('app_carte_page') }}" {% if app.request.attributes.get('_route') == "app_carte_page" %} class="active" {% endif %}>
			<Li>Cartes</Li>
		</a>
		<a href="{{ path('app_menu_page') }}" {% if app.request.attributes.get('_route') == "app_menu_page" %} class="active" {% endif %}>
			<Li>Menu</Li>
		</a>
		{% if app.user %}
			{% if is_granted('ROLE_ADMIN') %}
				<a href="{{ path('app_admin_page') }}" {% if app.request.attributes.get('_route') == "app_admin_page" %} class="active" {% endif %}>
					<Li>Mon admin Compte</Li>
				</a>
			{% else %}
				<a href="{{ path('app_account_page') }}" {% if app.request.attributes.get('_route') == "app_account_page" %} class="active" {% endif %}>
					<Li>Mon Compte</Li>
				</a>
			{% endif %}

		{% else %}
			<a href="{{ path('app_inscription_page') }}" {% if app.request.attributes.get('_route') == "app_inscription_page" %} class=" active" {% endif %}>
				<Li>S'inscrire</Li>
			{% endif %}
			<button>
				<a href="{{ path('app_reservation_page') }}" {% if app.request.attributes.get('_route') == "app_reservation_page" %} class="active" {% endif %}>
					<Li>Reserver</Li>
				</a>
			</button>
			{%if app.user %}
				<a href="{{ path('app_logout') }}">
					<Li>Se Deconnecté</Li>
				</a>
			{% else %}
				<a href="{{path('app_login')}}" {% if app.request.attributes.get('_route') == "app_login" %} class="active" {% endif %}>
					<Li>Se Connecter</Li>
				</a>
			{% endif %}
		</ul>

	{% endblock %}
